<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Site.Title }}</title>
<link rel="stylesheet" href="/css/style.css">
<body>
<!--<h1>{{ .Site.Title }}</h1>
-->
<!--<span id="t" onclick="document.body.classList.toggle('dark'); this.textContent = document.body.classList.contains('dark') ? '☀️  light' : '🌑 dark';">🌑 dark</span><br><br>
-->
Hi, I'm Tanner! I like plants, bots, Python,<br>
debian, climbing, sensors, and makerspaces
<br>
Please sign my Guestbook<br>
<br>
site@t0.vc<br>
<br>
CV<br>
<br>
Firmware Engineer - Cabana Blockchain, '18-<br>
Lead Hardware Engineer - Critical Control, '16-'18<br>
Electrical Engineer - Pivotal Aero, '16-'16<br>
BSc Electrical Engineering - University of Calgary<br>
<br>
Blog<br><br>
{{ range .Site.RegularPages }}
{{ .Date.Format "2006 Jan 2" }} <a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
{{ end }}

<blockquote>beware of the dragons on this page</blockquote>
</body> 
</html>

