{{ define "main" }}

<p>Hi , I'm Timo! I happen to like computers, <a href="/e">e/acc ⍒</a>,<br>
  linux, cyber, fintech, and karate</p>

  <p>Please read my <a href="/a">about</a> page</p>
<p><site@t0.vc/p>
  <p>CV</p>





<span>Technical Founder - Azurexpiry, '24-<br>
IT Systemadministrator - Perlen Papier, '24-<br>
IT System Engineer (Apprentice) - Perlen Papier, '20-'24<br>
Information Technologist (Federal Diploma)</span>

<p>Blog</p>
{{ range .Paginator.Pages }}
{{ if ne .Layout "page" }}
<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{ end }}
{{ end }}
{{ end }}