<!DOCTYPE html>
<html lang="en">
<head>  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Site.Title }}</title>
<link rel="stylesheet" href="/css/style.css">
</head> 
<body>
<h1>{{ .Site.Title }}</h1>
<span id="t" onclick="document.body.classList.toggle('dark'); this.textContent = document.body.classList.contains('dark') ? '☀️  light' : '🌑 dark';">🌑 dark</span><br><br>
{{ range .Site.RegularPages }}
{{ .Date.Format "2006 Jan 2" }} <a href="{{ .RelPermalink }}">{{ .Title }}</a><br><br>
{{ end }}
</body> 
</html>

